<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="field">
	  <% if @post.attachment.url.present? %>
	    <%= image_tag(@post.attachment.url) %>
	    <%= f.label :remove_attachment do %>
	      remove_attachment : <%= f.check_box :remove_attachment %>
	    <% end %>
	  <% end %>
	  <%= f.file_field :attachment %>
	  <%= f.hidden_field :attachment %>
  </div>

  <div class="field">
    <%= f.label :is_public %><br>
    <%= f.text_field :is_public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>