<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Content</th>
      <th>Is public</th>
      <th>User</th>
      <td>Posted Time</td>
      <td>Upvote</td>
      <td>Downvote</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to image_tag(post.attachment_url, :title => post.content), :id => "attachment_pic" %></td>
        <td><%= post.content %></td>
        <td><%= post.is_public.to_s %></td>
        <td><%= post.user.id %></td>
        <td><%= post.created_at.localtime.strftime("%d/%m/%y: %H:%M:%S")%></td>
        <td> 
          <%= post.get_upvotes.size %>
          <%= link_to "Like", like_post_path(post), method: :put, :class => "btn btn-info",
          :disabled => (current_user.voted_for? post ) && (current_user.voted_up_on? post)  %>      
        </td>
        <td> 
          <%= post.get_downvotes.size %>
          <%= link_to "Dislike", dislike_post_path(post), method: :put,:class => "btn btn-danger",
          :disabled => (current_user.voted_for? post ) && ( current_user.voted_down_on? post) %>        
        </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     

     
    <% end %>
  </tbody>
</table>

<style type="text/css">
  #attachment_pic{
    width: 40px;
    height: 40px;
  }

</style>