<p id="notice"><%= notice %></p>

<p>
  <strong>Attachment:</strong>
  <%= @post.attachment %>
</p>

<p>
  <strong>Content:</strong>
  <%= content_with_emoji(@post.content) %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @post.is_public %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%if current_user.id == @post.user_id%>
	<%= link_to 'Edit', edit_post_path(@post) %>
<%end%>

