<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <%= link_to "SNW", root_path, :class => "brand"%>
      <ul class="nav">
        <li class="active">
          <%= link_to "Home", root_path%>
        </li>
        <li><%= link_to "(#{Friendable.count_friend_requests(current_user)}) Friends Requests",friend_requests_friendables_path%></li>
        <li><%= link_to "Friends",  friend_list_friendables_path%></li>
        <li><a href="#">Notifications</a></li>
      </ul>

       <ul class="nav navbar-nav navbar-right">     
          <li id="profile-pic"><%= link_to image_tag(default_img(current_user), :title => current_user.first_name.capitalize, :alt => current_user.first_name.capitalize), url_for(current_user),
          :html=>{:width=>10, :height => 10} %>
          </li>
          <li><%= link_to truncate(current_user.first_name, :length => 16), current_user %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
 
    </div>
  </div>
</div>

<style type="text/css">



</style>