<!DOCTYPE html>
<html>
<head>
  <title>SNW</title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%if user_signed_in? %>
   <%= render 'layouts/header_signed_in'%>
  <%else%>
   <%= render 'layouts/header_not_signed_in'%>
  <%end%>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 
<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer'%>

</body>
</html>
